<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<div>
<div style="width:100%;height:20mm; text-align: center">
    <p> 
        <img style="float: right; width: 47mm; height: 20mm; position: relative; right: 4%;" src="/bahmni_config/openmrs/apps/registration/registrationCardLayout/images/hsc-rect-logo.png" alt="" />
        <div style="float: left; width: 35mm; height: 20mm;" ng-if="patient.primaryIdentifier.identifier" > <img id="barcode"
            jsbarcode-value="{{patient.primaryIdentifier.identifier}}"
            jsbarcode-width="1"
            jsbarcode-height="60"
            jsbarcode-margin="0"
            jsbarcode-displayValue="true"
            jsbarcode-textAlign="center"
            jsbarcode-textMargin="0"
            jsbarcode-fontSize="18"
       /> </div>
    </p>
</div>

<div style="width:90%; text-align: left; left: 2%;" >
    <hr style="width: 100%; position: relative; align-content: center; left: 5%;">
    <p style="text-align:left; font-size: 24px; line-height: 120%; padding-left: 10px">
        <strong>CIN/NIF:</strong><span ng-if="patient.extraIdentifiers[0].registrationNumber">{{patient.extraIdentifiers[0].registrationNumber}} </span><span ng-if="patient.extraIdentifiers[1].registrationNumber"> / {{patient.extraIdentifiers[1].registrationNumber}} </span><br>
        <strong>Nom:</strong> {{patient.familyName}}<br>
        <strong>Prénom:</strong> {{patient.givenName}}<br>
        <strong>Date de naissance:</strong> {{patient.birthdate | date: 'dd-MM-yyyy'}} <span style="float:right; right: 20px;"> <strong>Sexe:</strong> {{patient.gender}}</span><br>
        <strong>Adresse:</strong> <span ng-if="patient.address.address2">{{patient.address.address2}},</span>
        <span ng-if="patient.address.address1">{{patient.address.address1}},</span>
        <span ng-if="patient.address.address3">{{patient.address.address3}},</span>
        <span ng-if="patient.address.cityVillage">{{patient.address.cityVillage}},</span>
        <span ng-if="patient.address.stateProvince">{{patient.address.stateProvince}},</span>
        <span ng-if="patient.address.country">{{patient.address.country}}</span> <br>
        <strong>Téléphone:</strong> {{patient.phoneNumber}}
    </p>    
</div>
</div>

<script type="text/javascript" src="/bahmni_config/openmrs/apps/JsBarcode.all.min.js"></script>
<script>
    (function() {
        JsBarcode("#barcode").init();
    })();
</script>