<style>
  .approved {
    border-left: 3px solid green !important
  }

  .checked {
    color: green
  }

  .nonApproved {
    border-left: 3px solid red !important
  }
</style>
<section class="dashboard-section">
  <h2 ng-dialog-class="ngdialog ngdialog-theme-default ng-dialog-all-details-page" ng-dialog-data='{"section": {{section}}, "patient": {{patient}} }' class="section-title">
    <span class="title-link">{{config.translationKey | translate}} </span>
    <i class="fa"></i>
  </h2>

  <div ng-hide="lines.length">
    <div class="placeholder-text">
      <p translate="DISPLAY_CONTROL_ERROR_MESSAGE_KEY" translate-values="{displayControl : '{{config.translationKey | translate}}'}"></p>
    </div>
  </div>
  <section class="block hierarchy">
    <ul class=form-field>
      <li ng-repeat="(key,value) in groupedLines">
        <div class="tree-list-item row-click toggle-container active" toggle="section.show">
          <i class="fa fa-caret-right"></i>
          <i class="fa fa-caret-down"></i>
          <span>{{ key | bahmniDate }}
          </span>
        </div>
        <table class="repeated-table" ng-show="section.show">
          <tbody ng-repeat="line in value">
            <tr ng-class="">
              <td ng-class="{ approved: line.approved, nonApproved : !line.approved }" style="width:5%">
                <i class="fa fa-ok checked" ng-show="line.approved"></i>
                <i class="fa fa-times-circle" ng-hide="line.approved"></i>
              </td>
              <td style="with:70%">
                {{ line.displayName }}
              </td>
              <td style="width:25%">
                {{ line.document }}
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </section>
</section>
